<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superman Vs. Shazam</title>
</head>
<body>
    <div>
        <div>
            <h2>SUPERMAN VS. SHAZAM</h2>
            <p>idk. anything about Shazam, Superman wins.</p>
        </div>
        <div>
            <img src="https://th.bing.com/th/id/R.83519e92a722b592f9c58920a282af48?rik=zuJ9peBkpWScGQ&pid=ImgRaw&r=0" alt="SUPER v. SHAZAM">
        </div>
        <a href="index">BACK</a>
    </div>
</body>
</html>