<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Lantern</title>
</head>
<body>
    <div>
        <h2>Green Lantern</h2>
        <p>Hi! I am the Green Lantern.<br>
        I harness.. the powers of.. green.. to.. use? use justice?</p>
    </div>
    <a href="index">BACK</a>
</body>
</html>