<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin</title>
</head>
<body>
    <h2>Robin</h2>
    <p>Hey there! I am Robin, side kick to Batman, and leader of the Teen Titans!<br>
    With no power of my own, I use gagets to achieve my goals!</p>
    <a href="index">BACK</a>
</body>
</html>